<% content_for :title do %>DEV DASHBOARD - Elemental Global Support<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="sfdc" data-view="List" data-title="Unassigned Critical Cases" data-unordered="true" data-moreinfo="Case numbers of New Critical Support Cases."></div>
    </li>

<% if false %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
<% if false %>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
      <%#<div data-id="jive" data-view="List" data-unordered="true" data-title="User Community Posts" data-moreinfo="Last 5 posts on the Elemental User Community"></div>%>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="jive" data-view="List" data-unordered="true" data-title="User Community Posts" data-moreinfo="Last 5 posts on the Elemental User Community"></div>
      <%#<div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>%>
    </li>
  </ul>
</div>
